project:
  type: website
  output-dir: docs

website:
  title: "this is my advanced r notes website linked from hub site"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true